[environment]
kernel = include/sample_vm/vmlinuz-2.6.32-23-server
initrd = include/sample_vm/initrd.img-2.6.32-23-server
image = include/sample_vm/ubuntu-lucid.img

[swift]
auth_host = 10.0.0.100
auth_port = 443
auth_prefix = /auth/
auth_ssl = yes
account = system
username = root
password = password

[rabbitmq]
host = 10.0.0.100
user = guest
password = 

[nova]
network_label = <PINGABLE NETWORK>

[keystone]
host = 10.0.0.100
port = 5000
admin_port = 5001
apiver = v2.0
user = admin
password = password
tenantid = tenant
region = RegionOne

[KongRequester]
auth_url = http://keystone.somedomain.com:keystone_port
user = keystone_user
password = password
tenantid = tenantid
region = RegionOne