[environment]
kernel = include/sample_vm/vmlinuz-2.6.32-23-server
initrd = include/sample_vm/initrd.img-2.6.32-23-server
image = include/sample_vm/ubuntu-lucid.img

[swift]
auth_host = 10.0.0.100
auth_port = 443
auth_prefix = /auth/
auth_ssl = yes
account = system
username = root
password = password

[nova]
network_label = <PINGABLE NETWORK>

[KongRequester]
auth_url = http://keystone.somedomain.com:keystone_port
user = keystone_user
password = password
tenantname = tenantid
region = RegionOne

# This section is to make a glance/swift requester
# with different credentials than the admin swift requester
[glance-swift]
auth_url = http://keystone.somedomain.com:keystone_port
user = glance_user
password = password
tenantname = service
region = RegionOne
container = glance
